@{ Layout = "_Layout";}
@Html.Partial("_MenuList")

<form action="/trick-center" method="post">
    <label for="trick">Tricks</label>
    <input type="text" value="" name="trick" />
    <button type="submit">Change!</button>
</form>